/AdvancedKits-1.0.2.8.1.jar
/AlonsoTagsPro-v2.0.7-BETA-PRO.jar
/AnimatedScoreboard.jar
/AnimeRadiaction-1.20.0.jar
/BanItem-3.4.jar
/BankPlus-5.7.jar
/BetterBackpacksPro-v1.2.2-BETA-PRO.jar
/ChatManager_3.7.7.jar
/Chunky-1.2.217.jar
/Citizens-2.0.30-b2700.jar
/CMILib1.2.3.6.jar
/CoreProtect-21.2.jar
/CosmeticsCore_1.0.1-beta3.jar
/customcrafting-spigot-4.16.1.0.jar
/CustomDrops.jar
/CustomFishing-1.1.4.3-hotfix.jar
/DeathCoordinates.jar
/DecentHolograms-2.5.3.jar
/DeluxeCombat v.1.40.4.jar
/DeluxeMenus-1.13.6-Release.jar
/Dungeons-2.4.2.jar
/EasyCommandBlocker.jar
/EnchantmentForge.jar
/EssentialsX-2.19.8-dev+3-1eb5d8a.jar
/EssentialsXSpawn-2.19.8-dev+3-1eb5d8a.jar
/ExcellentCrates-4.0.5.jar
/ExecutableItems_Prem-5.4.1.jar
/GlobalMarketPlus-1.0.3.1.jar
/HeadDatabase-4.17.0.jar
/InventorySaver-3.7.1-VERSION-1.19.jar
/item-nbt-api-plugin-2.10.0.jar
/ItemsAdder_3.2.3-r9.jar
/Jobs5.1.0.1.jar
/Limbo-2.1.1.jar
/LoneLibs.jar
/LuckPerms-Bukkit-5.4.41.jar
/MagicCrates-1.3.4.B5.jar
/MCPets 3.0.1 (ModelEngine 3.0.0 required).jar
/MMOItems-6.8.2.jar
/Model-Engine-R3.0.1.jar
/Multiverse-Core-4.3.1.jar
/MythicCrucible-1.5.0-SNAPSHOT.jar
/MythicLib-1.4.2.jar
/MythicMobs-5.2.0-SNAPSHOT.jar
/MythicMobsGUI.jar
/NexEngine.jar
/nuvotifier.jar
/PinataParty-2.49.0.jar
/PlaceholderAPI-2.11.2.jar
/PlayerNPC.jar
/ProtectionStones-2.10.3.jar
/ProtocolLib.jar
/RandomTP.jar
/Resources-2.0.jar
/SCore-3.4.1.jar
/SkinsRestorer.jar
/sleep-most-5.1.3.jar
/TAB.v3.1.5.jar
/Vault.jar
/VoidGen-2.2.1.jar
/wolfyutils-spigot-4.16.6.1.jar
/worldedit-bukkit-7.2.12.jar
/worldguard-bukkit-7.0.8-beta-01-dist.jar
AdvancedKits-1.0.2.8.1.jar
